body, input, textarea, button, select {
      font-family: 'Anek Malayalam', 'Roboto', sans-serif;
    }

    #honeyForm, #honeyForm * {
      font-family: 'Anek Malayalam', 'Roboto', sans-serif !important;
    }

    label .ml {
      font-size: 13px;
      font-weight: 500;
    }

    label {
      font-weight: 600;
    }

    label span {
      display: block;
    }

    @media (max-width: 600px) {
      body {
        /*padding: 20px;*/
      }

      form {
        width: 100%;
        /*padding: 15px;*/
        border-width: 1px;
      }

      input, textarea, button {
        font-size: 1em;
        padding: 8px;
      }

      h2 {
        font-size: 1.2em;
      }
    }

    * {
      box-sizing: border-box;
    }

    body {
      font-family: Arial, sans-serif;
      background-color: #f5fff9;
      margin: 0;
      padding: 20px;
    }

    .border-box {
      max-width: 450px;
      margin: auto;
      padding: 20px;
      border: 2px solid #a6cd96;
      background-color: #fff;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      margin-bottom: 15px;
    }

    input, textarea, button, select {
      width: 100%;
      padding: 10px;
      font-size: 1em;
      border: 1px solid #ccc;
      border-radius: 5px;
    }

    button {
      background-color: #f9a825;
      color: white;
      font-weight: bold;
      cursor: pointer;
    }

    button:hover {
      background-color: #f57f17;
    }

    h2 {
      text-align: center;
      color: #2e9f00;
    }

    .whatsapp-btn {
      background-color: #25D366;
      color: white;
      font-weight: 500;
      font-size: 17px;
      font-family: 'Arial', sans-serif;
      border: none;
      border-radius: 5px;
      padding: 10px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      gap: 8px;
      cursor: pointer;
      width: 100%;
    }

    .form-group span.error {
      font-size: 12px;
    }

    .text-danger {
      color: rgb(227 8 29) !important;
    }

    .whatsapp-btn:hover {
      background-color: #1ebe5b;
    }

    .form-group {
      margin-bottom: 1rem;
    }

    .responseInner {
      display: flex;
      align-items: center;
      margin: 5px auto 2px;
      width: 260px;
    }

    .responseInner img {
      width: 33px;
      margin-right: 5px;
    }

    .price-show {
      margin-bottom: 10px;
      border: solid;
      padding: 10px;
      border-radius: 10px;
      border-color: #ffefc0;
      background-color: #fff8e3;
      color: red;
      font-weight: 500;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }

    .price-show span {
      display: block;
    }

    .amt {
      font-size: 15px;
      color: #d70000;
    }

    .total-amt {
      font-size: 16px;
      font-weight: 600;
    }
    .header-section {
      max-width: 450px;
      margin: auto;
      display: flex;
      align-items: baseline;
      justify-content: space-between;
      padding: 0px 10px 16px;
    }
    .logo-section {
      width: 30%;
    }
    .right-section {
      width: 45%;
    }
    .logo-section img, .right-section img {
      width: 100%;
    }
    .grecaptcha-badge {
      display: none;
    }